name: build supermarket
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "adopt-openj9"
          java-version: "17"
      - run: mvn compile

 GithubPages:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "adopt-openj9"
          java-version: "17"
      - name: Install doxygen
        run: sudo apt-get install -y doxygen
      - name: Install graphviz
        run: sudo apt-get install -y graphviz
      - name: Generate documentation
        run: mvn doxygen:report
      - name: Publish on Github Pages
        uses: crazy-max/ghaction-github-pages@v2.3.0
        with:
          build_dir: target/doxygen/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  report:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "adopt-openj9"
          java-version: "17"
      - name: Launch the server
        run: mvn jetty:run &
      - name: Sleep for 15 seconds
        uses: jakejarvis/wait-action@master
        with:
          time: "15s"
      - name: Run coverage
        run: mvn clean test
      - name: Upload Report
        uses: "actions/upload-artifact@v2"
        with:
          name: report.xml
          path: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
      - name: JaCoCo Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v4.4
        with:
          coverage_results_path: ${{ github.workspace }}/target/site/jacoco/jacoco.xml
          coverage_report_name: Coverage
          coverage_report_title: JaCoCo
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          minimum_coverage: 50
          fail_below_threshold: false
          publish_only_summary: false
      - name: Upload Code Coverage Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: code-coverage-report
          path: "*/coverage-results.md"
          retention-days: 1
      - name: Get the Coverage info
        run: |
          echo "Total coverage ${{ steps.jacoco.outputs.coverage-overall }}"
          echo "Changed Files coverage ${{ steps.jacoco.outputs.coverage-changed-files }}"
      
